.owl-nav {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  right: 0;
  margin: auto;
}

.owl-nav .owl-prev {
  position: absolute;
  left: -40px;
  top: 0;
  transform: translateY(-50%);
}

.owl-nav .owl-next {
  position: absolute;
  right: -40px;
  top: 0;
  transform: translateY(-50%);
}

.owl-prev {
  float: left;
  font-size: 48px;
  line-height: 48px;
  transition: 0.5s ease;
}

.owl-next {
  float: right;
  font-size: 48px;
  line-height: 48px;
  transition: 0.5s ease;
}

.owl-prev:hover,
.owl-next:hover {
  color: rgba(32, 0, 192, 0.7450980392);
  border-radius: 100px;
  background-color: burlywood;
  box-shadow: 0px 0px 15px 1px #ff0040;
}

.carusel h1 {
  font-family: sans-serif;
  font-size: 48px;
  font-weight: bold;
  line-height: 48px;
  letter-spacing: 0.03em;
  text-align: left;
  color: rgb(187, 35, 57);
}
.carusel .single-carusel {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.carusel .single-carusel .img-responsive {
  transition: 1s;
  max-width: 100%;
}
.carusel .single-carusel .img-responsive:hover {
  width: 290px;
  background-color: #ffc4d3;
  box-shadow: 1px 1px 10px 10px;
  border-radius: 20px;
}
.carusel .single-carusel p {
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 600;
  line-height: 24.51px;
  text-align: center;
  padding-top: 20px;
  max-width: 270px;
  color: rgb(36, 36, 36);
}
.carusel .single-carusel .star {
  max-width: 108px;
}
.carusel .single-carusel span {
  font-family: Open Sans;
  font-size: 24px;
  font-weight: 700;
  line-height: 32.68px;
  text-align: center;
  color: rgb(187, 35, 57);
}
.carusel .single-carusel button {
  display: none;
}
.carusel .single-carusel .wb-pechat {
  display: flex;
  justify-content: end;
  position: relative;
  bottom: -35px;
  right: 300px;
}
.carusel .single-carusel .wb-pechat img {
  max-width: 100%;
}