section {
  background-color: rgb(187, 35, 57);
}
section .section-nav {
  display: flex;
  padding-top: 40px;
  padding-bottom: 237px;
  margin: 0 auto;
  gap: 60px;
}
section .section-nav .section-nav-text p {
  font-family: Open Sans;
  font-size: 23px;
  font-weight: 700;
  line-height: 29.9px;
  letter-spacing: 0.04em;
  text-align: start;
  max-width: 453px;
  color: rgb(255, 255, 255);
  padding-top: 144px;
}
section .section-nav .section-nav-text h1 {
  font-family: Open Sans;
  font-size: 90px;
  font-weight: 700;
  line-height: 117px;
  letter-spacing: 0.04em;
  text-align: left;
  color: rgb(255, 255, 255);
  max-width: 755px;
}
section .section-nav .section-nav-text h2 {
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.04em;
  text-align: left;
  color: rgb(255, 255, 255);
  max-width: 453px;
}
section .section-nav .section-nav-text .hdr-buttun {
  font-family: open sans;
  font-size: 16px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0.04em;
  border-radius: 50px;
  border: 1px solid rgb(248, 248, 248);
  cursor: pointer;
  color: rgb(248, 248, 248);
  background-color: rgb(187, 35, 57);
  margin-top: 40px;
  padding: 8px 32px;
  text-align: center;
  transition: 1s;
}
section .section-nav .section-nav-text .hdr-buttun:hover {
  box-shadow: 1px 1px 10px 5px;
  color: blue;
  border: none;
  background-color: rgb(225, 134, 14);
}
section .section-nav .section-nav-img {
  display: flex;
  justify-content: center;
  padding-top: 80px;
  margin: 0 auto;
}
section .section-nav .section-nav-img img {
  max-width: 100%;
}
@media (max-width: 1223px) {
  section .section-nav {
    display: flex;
    flex-direction: column;
  }
  section .section-nav .section-nav-text {
    margin: 0 auto;
  }
  section .section-nav .section-nav-text p {
    text-align: center;
    margin: 0 auto;
  }
  section .section-nav .section-nav-text h1 {
    text-align: center;
    margin: 0 auto;
  }
  section .section-nav .section-nav-text h2 {
    text-align: center;
    margin: 0 auto;
  }
  section .section-nav .section-nav-text .hdr-buttun {
    text-align: center;
    display: flex;
    margin: 0 auto;
    margin-top: 10px;
  }
  section .section-nav .section-nav-img {
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }
  section .section-nav .section-nav-img img {
    display: flex;
    margin: 0 auto;
  }
}

.tab-content .conrd1 {
  display: grid;
  grid-template-columns: repeat(4, 3fr);
  justify-content: space-between;
  gap: 30px;
  margin-top: 40px;
}
.tab-content .conrd1 img {
  max-width: 100%;
  display: flex;
  margin: 0 auto;
  cursor: pointer;
}
.tab-content .conrd1 .card-link {
  padding: 20px 0 40px;
  border: 1px solid black;
  max-width: 100%;
  border-radius: 20px;
}
.tab-content .conrd1 .card-link p {
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 600;
  line-height: 24.51px;
  text-align: center;
  margin: 0 auto;
  max-width: 270px;
  padding-top: 10px;
}
.tab-content .conrd1 .card-link h1 {
  font-family: Open Sans;
  font-size: 24px;
  font-weight: 700;
  line-height: 32.68px;
  text-align: center;
  padding-top: 30px;
  margin: 0 auto;
  color: red;
  max-width: 76px;
}
.tab-content .conrd1 .card-link button {
  max-width: 300px;
  display: flex;
  position: relative;
  top: 10px;
  border: none;
  border-radius: 20px;
  padding: 20px 60px;
  margin: 0 auto;
  font-family: open sans;
  font-size: 18px;
  background-color: rgb(42, 72, 72);
  transition: 1s;
  color: aquamarine;
}
.tab-content .conrd1 .card-link button:hover {
  box-shadow: 1px 1px 10px 4px;
  background-color: rgb(252, 232, 122);
  color: darkblue;
  cursor: pointer;
}
.tab-content .card-link {
  background-color: rgb(188, 188, 188);
  box-shadow: 1px 1px 10px 5px;
  transition: 1s;
}
.tab-content .card-link img:hover {
  background-color: rgb(218, 108, 108);
  max-width: 340px;
  border-radius: 20px;
  box-shadow: 1px 1px 10px 5px;
  transition: 1s;
  cursor: pointer;
}
@media (max-width: 1442px) {
  .tab-content .conrd1 {
    display: grid;
    grid-template-columns: repeat(2, 6fr);
  }
}
@media (max-width: 610px) {
  .tab-content .conrd1 {
    display: grid;
    grid-template-columns: repeat(1, 12fr);
  }
}

.aside {
  background-color: rgb(244, 244, 244);
  padding: 100px 0 170px;
}
.aside .aside-nav .aside-text p {
  font-family: open sans;
  font-size: 23px;
  font-weight: 700;
  line-height: 29.9px;
  letter-spacing: 0.04em;
  text-align: center;
  margin: 0 auto;
}
.aside .aside-nav .aside-text img {
  max-width: 100%;
  display: flex;
  margin: 0 auto;
  padding-top: 8px;
}
.aside .aside-nav .aside-text h1 {
  font-family: open sans;
  font-size: 48px;
  font-weight: 400;
  line-height: 62.4px;
  letter-spacing: 0.03em;
  text-align: center;
  margin: 0 auto;
  padding-top: 8px;
}
.aside .aside-nav .aside-btn {
  display: flex;
  padding-top: 60px;
  gap: 20px;
  align-items: center;
}
.aside .aside-nav .aside-btn .aside-btn1 {
  padding: 30px 50px 30px 20px;
  background-color: white;
  border-radius: 20px;
}
.aside .aside-nav .aside-btn .aside-btn1 p {
  font-family: open sans;
  font-size: 24px;
  font-weight: 600;
  line-height: 26px;
  text-align: left;
  max-width: 66px;
}
.aside .aside-nav .aside-btn .aside-btn1 h1 {
  font-family: open sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  max-width: 340px;
}
.aside .aside-nav .aside-btn .aside-btn1 img {
  max-width: 100%;
  padding-top: 20px;
}
.aside .aside-nav .aside-btn .aside-btn1 .aside-btn1:hover {
  background-color: antiquewhite;
  box-shadow: 0px 0px 10px 5px;
}
.aside .aside-img {
  display: flex;
  padding-top: 20px;
  justify-content: center;
  gap: 20px;
}
.aside .carusel .shah {
  padding: 30px 50px 30px 20px;
  background-color: white;
  border-radius: 20px;
}
.aside .carusel .shah p {
  font-family: open sans;
  font-size: 24px;
  font-weight: 600;
  line-height: 26px;
  text-align: left;
  max-width: 66px;
}
.aside .carusel .shah h5 {
  font-family: open sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  max-width: 340px;
}
.aside .carusel .shah img {
  max-width: 100%;
  padding-top: 20px;
}
.aside .carusel .shah .shah:hover {
  background-color: antiquewhite;
  box-shadow: 0px 0px 10px 5px;
}

.row-nav .row-text p {
  font-family: open sans;
  font-size: 23px;
  font-weight: 700;
  line-height: 29.9px;
  letter-spacing: 0.04em;
  text-align: center;
  margin: 0 auto;
}
.row-nav .row-text img {
  max-width: 100%;
  display: flex;
  margin: 0 auto;
  padding-top: 8px;
}
.row-nav .row-text h1 {
  font-family: open sans;
  font-size: 48px;
  font-weight: 400;
  line-height: 62.4px;
  letter-spacing: 0.03em;
  text-align: center;
  margin: 0 auto;
  padding-top: 8px;
  padding-bottom: 20px;
  color: red;
}

.vd-img {
  padding-top: 30px;
  background-image: url(../../img/Video.svg);
}
.vd-img img {
  max-width: 100%;
  cursor: pointer;
}

.galeriya {
  max-width: 100%;
}
.galeriya .gal-nav {
  display: flex;
  padding: 80px 0 130px;
  max-width: 100%;
}
.galeriya .gal-nav .gal-text p {
  font-family: open sans;
  font-size: 23px;
  font-weight: 700;
  line-height: 29.9px;
  letter-spacing: 0.04em;
  text-align: left;
}
.galeriya .gal-nav .gal-text h1 {
  font-family: open sans;
  font-size: 48px;
  font-weight: 500;
  line-height: 62.4px;
  letter-spacing: 0.03em;
  text-align: center;
  max-width: 329px;
}
.galeriya .gal-nav .gal-text h2 {
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.04em;
  text-align: left;
  max-width: 491px;
  color: rgb(170, 170, 170);
}
.galeriya .gal-nav .gal-text button {
  width: Hug 149px px;
  padding: 8px 32px 8px 32px;
  gap: 10px;
  border-radius: 100px;
  color: rgb(45, 6, 219);
  transition: 1s;
  border: 1px solid rgb(215, 95, 95);
}
.galeriya .gal-nav .gal-text button:hover {
  background-color: rgb(219, 255, 184);
  color: cornflowerblue;
  box-shadow: 1px 1px 5px 3px;
}
.galeriya .gal-nav .gal-img {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
}
.galeriya .gal-nav .gal-img a {
  max-width: 100%;
}
.galeriya .gal-nav .gal-img .a {
  background-image: url(../../img/cola.png);
  border-radius: 20px;
  padding: 171px 119px;
  border: 2px solid black;
  opacity: 100%;
  border: none;
}
.galeriya .gal-nav .gal-img .a img {
  background-color: rgb(0, 0, 0);
}
.galeriya .gal-nav .gal-img img {
  max-width: 100%;
}
@media (max-width: 1416px) {
  .galeriya .gal-nav .gal-img {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 837px) {
  .galeriya .gal-nav {
    display: flex;
    flex-direction: column;
  }
}