div {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main-wrapper {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f8f9fa;
}

.menu-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, auto);
  gap: 1rem;
  padding: 1rem;
  max-width: 1200px;
  width: 100%;
}

.nav-pills {
  padding-left: 35px;
}

.navs__tabs {
  margin-top: 25px;
}
.navs__tabs h1 {
  font-family: "Varela Round", sans-serif;
  font-size: 40px;
  font-weight: 500;
  line-height: 54px;
  text-align: left;
  color: rgb(255, 255, 255);
  max-width: 348px;
}

.flex-column {
  background: rgb(187, 35, 57);
  width: 428px;
  height: 844px;
  top: 259px;
  left: 310px;
  gap: 0px;
  border-radius: 20px;
  opacity: 0px;
}

.menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.menu-item img {
  max-width: 100%;
  height: auto;
  display: block;
}
.menu-item h2 {
  font-size: 1.25rem;
  margin: 1rem 0;
  padding: 0 1rem;
}
.menu-item p {
  font-size: 1rem;
  color: #e60000;
  margin-bottom: 1rem;
}

@media (max-width: 768px) {
  .menu-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .menu-container {
    grid-template-columns: repeat(2, 1fr);
  }
}