@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
header {
  background-color: rgb(187, 35, 57);
}
header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0;
  padding: 26px 0 27px;
}
@media (max-width: 670px) {
  header nav {
    display: block;
  }
}
header nav .nav-menu {
  display: flex;
  align-items: center;
  justify-content: 0;
  gap: 40px;
}
@media (max-width: 670px) {
  header nav .nav-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding-top: 15px;
  }
}
header nav .nav-menu .nav-menu-item {
  display: flex;
  align-items: center;
  justify-content: 0;
  gap: 40px;
}
header nav .nav-menu .nav-menu-item li {
  list-style-type: none;
}
header nav .nav-menu .nav-menu-item li a {
  text-decoration: none;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 21.79px;
  color: rgb(255, 255, 255);
}
header nav .nav-menu .login-link {
  text-decoration: none;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 21.79px;
  color: rgb(255, 255, 255);
  border: rgb(255, 255, 255) solid 1px;
  padding: 10px 40px;
  border-radius: 100px;
}

@media (max-width: 670px) {
  header nav .nav-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
    padding-top: 15px;
  }
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0;
  padding: 26px 0 27px;
}
@media (max-width: 670px) {
  nav {
    display: block;
  }
}
nav .nav-menu {
  display: flex;
  align-items: center;
  justify-content: 0;
  gap: 40px;
}
@media (max-width: 670px) {
  nav .nav-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding-top: 15px;
  }
}
@media (max-width: 481px) {
  nav .nav-menu .nav-menu {
    display: flex;
    flex-direction: column;
  }
}
nav .nav-menu .nav-menu-item {
  display: flex;
  align-items: center;
  justify-content: 0;
  gap: 40px;
}
nav .nav-menu .nav-menu-item li {
  list-style-type: none;
}
nav .nav-menu .nav-menu-item li a {
  text-decoration: none;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 21.79px;
  color: rgb(255, 255, 255);
}
nav .nav-menu .nav-menu-item .login-link {
  text-decoration: none;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 21.79px;
  color: rgb(255, 255, 255);
  border: rgb(255, 255, 255) solid 1px;
  padding: 10px 40px;
  border-radius: 100px;
}

@media (max-width: 670px) {
  header nav .nav-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
    padding-top: 15px;
  }
}
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

.container {
  max-width: 1340px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

section {
  background-color: rgb(187, 35, 57);
}
section .section-nav {
  display: flex;
  padding-top: 40px;
  padding-bottom: 237px;
  margin: 0 auto;
  gap: 60px;
}
section .section-nav .section-nav-text p {
  font-family: Open Sans;
  font-size: 23px;
  font-weight: 700;
  line-height: 29.9px;
  letter-spacing: 0.04em;
  text-align: start;
  max-width: 453px;
  color: rgb(255, 255, 255);
  padding-top: 144px;
}
section .section-nav .section-nav-text h1 {
  font-family: Open Sans;
  font-size: 90px;
  font-weight: 700;
  line-height: 117px;
  letter-spacing: 0.04em;
  text-align: left;
  color: rgb(255, 255, 255);
  max-width: 755px;
}
section .section-nav .section-nav-text h2 {
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.04em;
  text-align: left;
  color: rgb(255, 255, 255);
  max-width: 453px;
}
section .section-nav .section-nav-text .hdr-buttun {
  font-family: open sans;
  font-size: 16px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0.04em;
  border-radius: 50px;
  border: 1px solid rgb(248, 248, 248);
  cursor: pointer;
  color: rgb(248, 248, 248);
  background-color: rgb(187, 35, 57);
  margin-top: 40px;
  padding: 8px 32px;
  text-align: center;
  transition: 1s;
}
section .section-nav .section-nav-text .hdr-buttun:hover {
  box-shadow: 1px 1px 10px 5px;
  color: blue;
  border: none;
  background-color: rgb(225, 134, 14);
}
section .section-nav .section-nav-img {
  display: flex;
  justify-content: center;
  padding-top: 80px;
  margin: 0 auto;
}
section .section-nav .section-nav-img img {
  max-width: 100%;
}
@media (max-width: 1223px) {
  section .section-nav {
    display: flex;
    flex-direction: column;
  }
  section .section-nav .section-nav-text {
    margin: 0 auto;
  }
  section .section-nav .section-nav-text p {
    text-align: center;
    margin: 0 auto;
  }
  section .section-nav .section-nav-text h1 {
    text-align: center;
    margin: 0 auto;
  }
  section .section-nav .section-nav-text h2 {
    text-align: center;
    margin: 0 auto;
  }
  section .section-nav .section-nav-text .hdr-buttun {
    text-align: center;
    display: flex;
    margin: 0 auto;
    margin-top: 10px;
  }
  section .section-nav .section-nav-img {
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }
  section .section-nav .section-nav-img img {
    display: flex;
    margin: 0 auto;
  }
}

.tab-content .conrd1 {
  display: grid;
  grid-template-columns: repeat(4, 3fr);
  justify-content: space-between;
  gap: 30px;
  margin-top: 40px;
}
.tab-content .conrd1 img {
  max-width: 100%;
  display: flex;
  margin: 0 auto;
  cursor: pointer;
}
.tab-content .conrd1 .card-link {
  padding: 20px 0 40px;
  border: 1px solid black;
  max-width: 100%;
  border-radius: 20px;
}
.tab-content .conrd1 .card-link p {
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 600;
  line-height: 24.51px;
  text-align: center;
  margin: 0 auto;
  max-width: 270px;
  padding-top: 10px;
}
.tab-content .conrd1 .card-link h1 {
  font-family: Open Sans;
  font-size: 24px;
  font-weight: 700;
  line-height: 32.68px;
  text-align: center;
  padding-top: 30px;
  margin: 0 auto;
  color: red;
  max-width: 76px;
}
.tab-content .conrd1 .card-link button {
  max-width: 300px;
  display: flex;
  position: relative;
  top: 10px;
  border: none;
  border-radius: 20px;
  padding: 20px 60px;
  margin: 0 auto;
  font-family: open sans;
  font-size: 18px;
  background-color: rgb(42, 72, 72);
  transition: 1s;
  color: aquamarine;
}
.tab-content .conrd1 .card-link button:hover {
  box-shadow: 1px 1px 10px 4px;
  background-color: rgb(252, 232, 122);
  color: darkblue;
  cursor: pointer;
}
.tab-content .card-link {
  background-color: rgb(188, 188, 188);
  box-shadow: 1px 1px 10px 5px;
  transition: 1s;
}
.tab-content .card-link img:hover {
  background-color: rgb(218, 108, 108);
  max-width: 340px;
  border-radius: 20px;
  box-shadow: 1px 1px 10px 5px;
  transition: 1s;
  cursor: pointer;
}
@media (max-width: 1442px) {
  .tab-content .conrd1 {
    display: grid;
    grid-template-columns: repeat(2, 6fr);
  }
}
@media (max-width: 610px) {
  .tab-content .conrd1 {
    display: grid;
    grid-template-columns: repeat(1, 12fr);
  }
}

.aside {
  background-color: rgb(244, 244, 244);
  padding: 100px 0 170px;
}
.aside .aside-nav .aside-text p {
  font-family: open sans;
  font-size: 23px;
  font-weight: 700;
  line-height: 29.9px;
  letter-spacing: 0.04em;
  text-align: center;
  margin: 0 auto;
}
.aside .aside-nav .aside-text img {
  max-width: 100%;
  display: flex;
  margin: 0 auto;
  padding-top: 8px;
}
.aside .aside-nav .aside-text h1 {
  font-family: open sans;
  font-size: 48px;
  font-weight: 400;
  line-height: 62.4px;
  letter-spacing: 0.03em;
  text-align: center;
  margin: 0 auto;
  padding-top: 8px;
}
.aside .aside-nav .aside-btn {
  display: flex;
  padding-top: 60px;
  gap: 20px;
  align-items: center;
}
.aside .aside-nav .aside-btn .aside-btn1 {
  padding: 30px 50px 30px 20px;
  background-color: white;
  border-radius: 20px;
}
.aside .aside-nav .aside-btn .aside-btn1 p {
  font-family: open sans;
  font-size: 24px;
  font-weight: 600;
  line-height: 26px;
  text-align: left;
  max-width: 66px;
}
.aside .aside-nav .aside-btn .aside-btn1 h1 {
  font-family: open sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  max-width: 340px;
}
.aside .aside-nav .aside-btn .aside-btn1 img {
  max-width: 100%;
  padding-top: 20px;
}
.aside .aside-nav .aside-btn .aside-btn1 .aside-btn1:hover {
  background-color: antiquewhite;
  box-shadow: 0px 0px 10px 5px;
}
.aside .aside-img {
  display: flex;
  padding-top: 20px;
  justify-content: center;
  gap: 20px;
}
.aside .carusel .shah {
  padding: 30px 50px 30px 20px;
  background-color: white;
  border-radius: 20px;
}
.aside .carusel .shah p {
  font-family: open sans;
  font-size: 24px;
  font-weight: 600;
  line-height: 26px;
  text-align: left;
  max-width: 66px;
}
.aside .carusel .shah h5 {
  font-family: open sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  max-width: 340px;
}
.aside .carusel .shah img {
  max-width: 100%;
  padding-top: 20px;
}
.aside .carusel .shah .shah:hover {
  background-color: antiquewhite;
  box-shadow: 0px 0px 10px 5px;
}

.row-nav .row-text p {
  font-family: open sans;
  font-size: 23px;
  font-weight: 700;
  line-height: 29.9px;
  letter-spacing: 0.04em;
  text-align: center;
  margin: 0 auto;
}
.row-nav .row-text img {
  max-width: 100%;
  display: flex;
  margin: 0 auto;
  padding-top: 8px;
}
.row-nav .row-text h1 {
  font-family: open sans;
  font-size: 48px;
  font-weight: 400;
  line-height: 62.4px;
  letter-spacing: 0.03em;
  text-align: center;
  margin: 0 auto;
  padding-top: 8px;
  padding-bottom: 20px;
  color: red;
}

.vd-img {
  padding-top: 30px;
  background-image: url(../../img/Video.svg);
}
.vd-img img {
  max-width: 100%;
  cursor: pointer;
}

.galeriya {
  max-width: 100%;
}
.galeriya .gal-nav {
  display: flex;
  padding: 80px 0 130px;
  max-width: 100%;
}
.galeriya .gal-nav .gal-text p {
  font-family: open sans;
  font-size: 23px;
  font-weight: 700;
  line-height: 29.9px;
  letter-spacing: 0.04em;
  text-align: left;
}
.galeriya .gal-nav .gal-text h1 {
  font-family: open sans;
  font-size: 48px;
  font-weight: 500;
  line-height: 62.4px;
  letter-spacing: 0.03em;
  text-align: center;
  max-width: 329px;
}
.galeriya .gal-nav .gal-text h2 {
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.04em;
  text-align: left;
  max-width: 491px;
  color: rgb(170, 170, 170);
}
.galeriya .gal-nav .gal-text button {
  width: Hug 149px px;
  padding: 8px 32px 8px 32px;
  gap: 10px;
  border-radius: 100px;
  color: rgb(45, 6, 219);
  transition: 1s;
  border: 1px solid rgb(215, 95, 95);
}
.galeriya .gal-nav .gal-text button:hover {
  background-color: rgb(219, 255, 184);
  color: cornflowerblue;
  box-shadow: 1px 1px 5px 3px;
}
.galeriya .gal-nav .gal-img {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
}
.galeriya .gal-nav .gal-img a {
  max-width: 100%;
}
.galeriya .gal-nav .gal-img .a {
  background-image: url(../../img/cola.png);
  border-radius: 20px;
  padding: 171px 119px;
  border: 2px solid black;
  opacity: 100%;
  border: none;
}
.galeriya .gal-nav .gal-img .a img {
  background-color: rgb(0, 0, 0);
}
.galeriya .gal-nav .gal-img img {
  max-width: 100%;
}
@media (max-width: 1416px) {
  .galeriya .gal-nav .gal-img {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 837px) {
  .galeriya .gal-nav {
    display: flex;
    flex-direction: column;
  }
}

.owl-nav {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  right: 0;
  margin: auto;
}

.owl-nav .owl-prev {
  position: absolute;
  left: -40px;
  top: 0;
  transform: translateY(-50%);
}

.owl-nav .owl-next {
  position: absolute;
  right: -40px;
  top: 0;
  transform: translateY(-50%);
}

.owl-prev {
  float: left;
  font-size: 48px;
  line-height: 48px;
  transition: 0.5s ease;
}

.owl-next {
  float: right;
  font-size: 48px;
  line-height: 48px;
  transition: 0.5s ease;
}

.owl-prev:hover,
.owl-next:hover {
  color: rgba(32, 0, 192, 0.7450980392);
  border-radius: 100px;
  background-color: burlywood;
  box-shadow: 0px 0px 15px 1px #ff0040;
}

.carusel h1 {
  font-family: sans-serif;
  font-size: 48px;
  font-weight: bold;
  line-height: 48px;
  letter-spacing: 0.03em;
  text-align: left;
  color: rgb(187, 35, 57);
}
.carusel .single-carusel {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.carusel .single-carusel .img-responsive {
  transition: 1s;
  max-width: 100%;
}
.carusel .single-carusel .img-responsive:hover {
  width: 290px;
  background-color: #ffc4d3;
  box-shadow: 1px 1px 10px 10px;
  border-radius: 20px;
}
.carusel .single-carusel p {
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 600;
  line-height: 24.51px;
  text-align: center;
  padding-top: 20px;
  max-width: 270px;
  color: rgb(36, 36, 36);
}
.carusel .single-carusel .star {
  max-width: 108px;
}
.carusel .single-carusel span {
  font-family: Open Sans;
  font-size: 24px;
  font-weight: 700;
  line-height: 32.68px;
  text-align: center;
  color: rgb(187, 35, 57);
}
.carusel .single-carusel button {
  display: none;
}
.carusel .single-carusel .wb-pechat {
  display: flex;
  justify-content: end;
  position: relative;
  bottom: -35px;
  right: 300px;
}
.carusel .single-carusel .wb-pechat img {
  max-width: 100%;
}

footer {
  margin-top: 300px;
  background-color: rgb(187, 35, 57);
}
footer .footer-card {
  max-width: 1406px;
  position: relative;
  bottom: 200px;
  padding-bottom: 40px;
  border-radius: 20px;
  border: 1px solid rgb(168, 166, 166);
  background-color: rgb(187, 35, 57);
  opacity: 0px;
}
footer .footer-card .footer-card1 {
  padding: 64px 0;
}
footer .footer-card .footer-card1 h1 {
  font-family: open sans;
  font-size: 23px;
  font-weight: 700;
  line-height: 29.9px;
  letter-spacing: 0.04em;
  text-align: center;
  color: rgb(248, 248, 248);
  margin: 0 auto;
}
footer .footer-card .footer-card1 h2 {
  font-family: open sans;
  font-size: 48px;
  font-weight: 500;
  line-height: 62.4px;
  letter-spacing: 0.03em;
  text-align: center;
  margin: 0 auto;
  padding-top: 25px;
  color: rgb(248, 248, 248);
}
footer .footer-card .footer-card1 h3 {
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.04em;
  color: rgb(248, 248, 248);
  margin-top: 24px;
  text-align: center;
}
footer .footer-card .footer-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
footer .footer-card .footer-btn .input1 {
  padding: 12px 0;
  margin: 0 200px;
  border-radius: 50px;
  background-color: rgb(187, 35, 57);
  border: 1px solid rgb(0, 224, 224);
  color: rgb(245, 245, 245);
  font-family: open sans;
  width: 100%;
  font-size: 16px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0.04em;
  text-align: center;
  margin: 0 auto;
  transition: 1s;
}
footer .footer-card .footer-btn button {
  padding: 12px 32px;
  border-radius: 50px;
  background-color: rgb(187, 35, 57);
  border: 1px solid rgb(0, 224, 224);
  color: rgb(248, 248, 248);
  font-family: Cera Round Pro;
  font-size: 16px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0.04em;
  text-align: left;
  transition: 1s;
}
footer .footer-card .footer-btn button:hover {
  background-color: blue;
  color: rgb(121, 183, 130);
  box-shadow: 1px 1px 20px 5px;
  cursor: pointer;
}
footer .footer-nav {
  display: flex;
  justify-content: space-between;
}
footer .footer-nav .footer-one p {
  font-family: open sans;
  font-size: 32px;
  font-weight: 400;
  line-height: 41.6px;
  letter-spacing: 0.04em;
  text-align: left;
  max-width: 177px;
  margin: 0 auto;
  color: rgb(248, 248, 248);
}
footer .footer-nav .footer-one h1 {
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.04em;
  text-align: left;
  color: rgb(248, 248, 248);
  margin: 0 auto;
  max-width: 281px;
  padding-top: 24px;
}
footer .footer-nav .footer-one .h2-h2 {
  padding-top: 10px;
  display: block;
}
footer .footer-nav .footer-one .h2-h2 h2 {
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.04em;
  text-align: center;
  color: rgb(248, 248, 248);
  margin: 0 auto;
  max-width: 189px;
}
footer .footer-nav .footer-two {
  position: relative;
  bottom: 45px;
}
footer .footer-nav .footer-two img {
  max-width: 100%;
  display: flex;
  margin: 0 auto;
}
footer .footer-nav .footer-two p {
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.04em;
  text-align: center;
  margin: 0 auto;
  max-width: 438px;
  color: rgb(248, 248, 248);
  padding-top: 32px;
  padding-bottom: 45px;
}
footer .footer-nav .footer-two h3 {
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.04em;
  text-align: center;
  max-width: 394px;
  color: rgb(255, 255, 255);
  margin: 0 auto;
  padding-top: 80px;
  padding-bottom: 40px;
}
footer .footer-nav .footer-thre h1 {
  font-family: Open sans;
  font-size: 32px;
  font-weight: 400;
  line-height: 41.6px;
  letter-spacing: 0.04em;
  text-align: center;
  max-width: 337px;
  margin: 0 auto;
  color: rgb(255, 255, 255);
}
footer .footer-nav .footer-thre h2 {
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.04em;
  text-align: center;
  color: rgb(255, 255, 255);
  margin: 0 auto;
  max-width: 160px;
  padding-top: 24px;
}
footer .footer-nav .footer-thre h3 {
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.04em;
  text-align: center;
  color: rgb(255, 255, 255);
  max-width: 160px;
  padding-top: 12px;
  margin: 0 auto;
}
@media (max-width: 1009px) {
  footer .footer-nav {
    display: flex;
    flex-direction: column;
  }
  footer .footer-two {
    padding-top: 30px;
  }
}
@media (max-width: 1293px) {
  footer .footer-btn {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

div {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main-wrapper {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f8f9fa;
}

.menu-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, auto);
  gap: 1rem;
  padding: 1rem;
  max-width: 1200px;
  width: 100%;
}

.nav-pills {
  padding-left: 35px;
}

.navs__tabs {
  margin-top: 25px;
}
.navs__tabs h1 {
  font-family: "Varela Round", sans-serif;
  font-size: 40px;
  font-weight: 500;
  line-height: 54px;
  text-align: left;
  color: rgb(255, 255, 255);
  max-width: 348px;
}

.flex-column {
  background: rgb(187, 35, 57);
  width: 428px;
  height: 844px;
  top: 259px;
  left: 310px;
  gap: 0px;
  border-radius: 20px;
  opacity: 0px;
}

.menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.menu-item img {
  max-width: 100%;
  height: auto;
  display: block;
}
.menu-item h2 {
  font-size: 1.25rem;
  margin: 1rem 0;
  padding: 0 1rem;
}
.menu-item p {
  font-size: 1rem;
  color: #e60000;
  margin-bottom: 1rem;
}

@media (max-width: 768px) {
  .menu-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .menu-container {
    grid-template-columns: repeat(2, 1fr);
  }
}